body { padding-bottom: 70px; }


.navbar {
  margin-bottom: 0
}

.navbar {
  background-color: black;
}


.navbar-header {
  width: 10%;
  margin-bottom: 0;
}
nav {
  color: white;
}



.navbar-tail {
  width: 20%;
  text-align: right;
  color: white;
}

.navbar-tail img {
  width: 17%;
  margin-right: 20px;
}

.navbar-tail p {
  margin-bottom: 0;
}

body > nav > div.navbar-tail > p > a{
  color: white;
}



.profile {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  height: 380px;
  background-color: #007bff!important;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  margin-bottom: 0;
}

.avatar {
  width: 65%;
  border-width: 10px;
}

.pro{
  color: white;
  text-decoration: underline;
  margin-bottom: 20px;
  margin-left: 5%;
  font-size: 14pt;
  text-align: center;
}

.contents {
  text-align: center;
  vertical-align: middle;
  margin-left: 10%;
}

.edit {
  color: black;
  margin-left: 95%
}
#name {
  margin-top: 20pt;
  font-size: 15pt;
  font-weight: bold;
  color: white;
}


.search-bar{
  width: 600px;
  vertical-align: middle;
  white-space: nowrap;
  position: relative;
}
.search-bar input#search{
  width: 600px;
  height: 50px;
  border: none;
  font-size: 10pt;
  float: left;
  padding-left: 45px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.search-bar input#search::-webkit-input-placeholder {
   color: #65737e;
}

.search-bar input#search:-moz-placeholder { /* Firefox 18- */
   color: #65737e;
}

.search-bar input#search::-moz-placeholder {  /* Firefox 19+ */
   color: #65737e;
}

.search-bar input#search:-ms-input-placeholder {
   color: #65737e;
}
.search-bar .icon{
  position: absolute;
  top: 50%;
  margin-left: 17px;
  margin-top: 13px;
  z-index: 1;
  color: BLACK;
}



.con {

  height: 220px;
  margin-bottom: 200px;
  background-color: black;
}

.mar {
  display: flex;
  align-items: center;
  margin-left: 10%;
  margin-right: 10%;
}


.badge {
  margin-left: 10%;
  font-size: 11pt;
}

.link {
  margin-left: 0;
}
